<div class="container edit">
    <h3>Страницы сайта:</h3>
    <table class="table-stripped" >
        <?php foreach ($data['pages'] as $page) { ?>
            <tr>
                <td><b><?= $page['title'] ?></b></td>
                <td align="right">
                    <a href="/admin/home/edit/<?= $page['id'] ?>">
                        <button class="btn_edit">Редактировать</button>
                    </a>
                    <a href="/admin/home/delete/<?= $page['id'] ?>" onclick="return confirmDelete();">
                        <button class="btn_delete">Удалить</button>
                    </a>
                </td>
            </tr>
        <?php } ?>
    </table>


    <a href="/admin/home/add/">
        <button class="btn_add">Новая страница</button>
    </a>
</div>