<div class="container edit">
    <h3>Страницы сайта:</h3>
    <table class="table-stripped">

        <tr>
            <td><b>Блог</b></td>
            <td align="right">
                <a href="/admin/blog/">
                    <button class="btn_edit">Перейти</button>
                </a>

            </td>
        </tr>
        <tr>
            <td><b>Галлерея</b></td>
            <td align="right">
                <a href="/admin/gallery/">
                    <button class="btn_edit">Перейти</button>
                </a>

            </td>
        </tr>
        <tr>
            <td><b>Контакты</b></td>
            <td align="right">
                <a href="/admin/contacts/">
                    <button class="btn_edit">Перейти</button>
                </a>

            </td>
        </tr>
        <tr>
            <td><b>Магазин</b></td>
            <td align="right">
                <a href="/admin/shop/">
                    <button class="btn_edit">Перейти</button>
                </a>

            </td>
        </tr>

    </table>

    <a href="/admin/users/logout">
        <button class="btn_add">Выйти из админки</button>
    </a>
</div>