<div class="container edit">
    <h3>Редактирование страницы:</h3>
    <form action="" method="post">
        <input type="hidden" name="id" value="<?= $data['page']['id'] ?>">
        <div class="form-group">
            <label for="alias">Alias страницы</label>
            <input type="text" id="alias" name="alias" value="<?= $data['page']['alias'] ?>" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Название страницы</label>
            <input type="text" id="title" name="title" value="<?= $data['page']['title'] ?>" class="form-control">
        </div>
        <div class="form-group">
            <label for="content">Содержание страницы</label>
            <textarea id="content" name="content" class="form-control"><?= $data['page']['content'] ?></textarea>
        </div>
        <div class="form-group">
            <label for="is_published">Опубликовать страницу</label>
            <input type="checkbox" id="is_published" name="is_published" class="form-control" <?php if ($data['page']['is_published']) {?> checked = "checked" <?php }?>>
        </div>
        <input type="submit" class="btn_add" value="Изменить">
    </form>

</div>