<div class="container">
    <h1 style="font-size: 24px; font-weight: 900;">Будет статичная страница только надо придумать шо на ней будет аля краткого обзора</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio ducimus iure magni molestias natus
    nesciunt, pariatur perspiciatis, quis repellendus sed voluptates. Dolore dolorum enim ipsam ipsum iusto, laudantium
    nihil pariatur quasi tempore temporibus. Architecto at atque aut commodi culpa cum dolores ea eius enim est eum ex,
    ipsam ipsum iure iusto modi molestias neque numquam, omnis perferendis possimus quasi quidem quos repellat sint
    tempore temporibus, ullam vel voluptate voluptates. At beatae delectus deleniti earum et fuga ipsam magni mollitia
    quam quia, rerum tempora, veritatis! Amet assumenda culpa dolorem, doloribus ipsum maiores non placeat sequi ullam,
    unde ut voluptas voluptatibus. A, asperiores aut autem beatae consequatur consequuntur culpa doloremque error esse
    ex exercitationem fuga inventore labore magnam maiores modi nulla pariatur placeat quasi ratione rerum ut vel! A ad
    aliquid beatae blanditiis consequuntur deserunt dicta dignissimos ea earum eos facere incidunt iste laborum modi
    molestias mollitia nemo nulla officiis optio, quibusdam quidem recusandae rem sed similique tenetur, ut velit
    veritatis voluptas voluptates, voluptatum! Earum error esse fugit iure maiores praesentium tempora. Alias,
    architecto, dicta. Beatae eius esse ex odit possimus repellendus tenetur. Amet dicta maxime nam porro voluptatem.
    Accusantium atque dolore excepturi incidunt iste mollitia optio reprehenderit temporibus voluptate voluptatibus.</p>

</div>


?>
