<div class="container messages">
    <h3>Сообщения:</h3>
    <table class="table-stripped">
        <tr>
            <td style="width: 5%; background-color: #bbbbbb;">#</td>
            <td style="width: 10%; background-color: #bbbbbb;">Имя</td>
            <td style="width: 25%; background-color: #bbbbbb;">E-mail</td>
            <td style="width: 50%; background-color: #bbbbbb;">Сообщение</td>
        </tr>
        <?php foreach ($data as $item) { ?>
            <tr>
                <td style="width: 5%;"><?=$item['id']?></td>
                <td style="width: 10%;"><?=$item['name']?></td>
                <td style="width: 25%;"><?=$item['email']?></td>
                <td style="width: 50%;"><?=$item['message']?></td>
            </tr>
        <?php } ?>
    </table>
</div>